<%= content_for :title_bar do %>
  <li></li>
  <li class="title">Customers</li>
  <li><%= link_to('+', new_customer_path) %></li>
<% end %>


<p style="text-align: center;">
<%= text_field_tag :search %>
</p>




<%= form_tag '/somewhere', method: :post do %>

  <% @customers.each do |customer| %>
    <div class="line">
      <div><%= customer.name %></div>
      <div><%= link_to '>>', '/' %></div> 
    </div>

  <% end %>

<% end %>

