<%= content_for :title_bar do %>
  <li></li>
  <li class="title">Details</li>
  <li></li>
<% end %>

<%= form_for @customer do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :code %>
  <%= f.text_field :code %>

  <%= f.label :address1 %>
  <%= f.text_field :address1 %>
  
  <button>create</button>
<% end %>