<!DOCTYPE html>
<html>
<head>
  <title>OmsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="container">

    <div id="title-bar">
      <ul>
        <%= yield :title_bar %>
      </ul>
    </div>
    
    <%= yield %>

  </div>



</body>
</html>
